/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    background: #ecf0f1;
 }
 body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: */
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
}
 a {
    text-decoration: none;
    color: #FFF;
 }
 .panorama a {
    color:#000;
 }
 a:hover {
    color:#CCC;
 }
 h1 {
    text-indent: -9000px;
    margin:0 auto;
    width:350px;
    height:96px;
    background:url('../img/logo.png') no-repeat;
 }
 h2 {
    font-size:2em;
    border-bottom:1px solid #7f8c8d;
 }
h3 {
    margin-bottom: 0;
    margin-top: 0;
}
address {
    font-style: normal;
}
ul {
    padding:0 0 0 0;
}
li {
    list-style-type: none;
    margin-left:0; padding-left: 0;
}
abbr {
    padding:0.3em 1em; background:#333;
}
 .centered {
    text-align: center;
 }
.box {
    padding:1em;
}
.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:1em 0;
    border:0.2em solid #FFF;

}
.header {
    background: #717070;
    position: fixed;
    z-index:100;
}
.header p {
    font-size:1.5em;
    margin:1em;
    text-shadow:1px 1px #666;
}
.portfolio {
    background:#ecf0f1; margin:15em 0 0 0;
}
.portfolio h2 {
    color: #7f8c8d;
}
.tools {
    background: #95a5a6;
}
.contact {
    background:#333; padding-bottom: 2em;
}

/*
 * -- TABLET MEDIA QUERIES --
 */
@media(max-width: 767px) {



}

/*
 * -- PHONE MEDIA QUERIES --
 */
@media (max-width: 480px) {

}
